body{
    font-family: "Noto Sans CJK JP Regular", serif;
    /*width:100%;
    height:100%;
    margin:auto auto;*/
}

.td_title{

}
.error{
    color: red;
}

.main{
    width: 400px;
    height:400px;
    margin: 0 auto;
    background-color: #ececec;
}



#login, #reset_password, #register{
    border:none;
    background-color: lightgreen;
    margin:10px;
    width:100px;
    height:40px;
}

#login:hover, #register:hover, #reset_password:hover{
    background-color: cadetblue;
    color: white;
}
a{
    text-decoration: none;
}
.td_input input{
    border:none;
    width:170px;;
    height:35px;
}
